@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body{
    background-image: url(p.jpeg);
    background-repeat: no-repeat;
    background-size: 1600px;
    margin: 0;
    font-family: 'Aboreto', cursive;
}
.main{
    margin: 300px;
}
.container1{

    font-size: 20px;
    margin: auto;
    width: 60%;
    align-items: center;

}
button{
    margin: 10px;
    border-radius: 12px;
    padding: 10px 30px;
    background-color: rgb(108, 188, 140);
    box-shadow: 2px 3px rgb(2, 78, 31);
}
input{
    margin: 10px;
    border-radius: 12px;
    margin: 20px;
    padding: 10px 32px;
    box-shadow: 2px 3px rgb(205, 205, 205);
}